* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: #222831;
        color: #eeeeee;
    }
    a {
        color: #00bd56;
    }
    a:visited {
        color: #ffd369;
    }
}

@media (prefers-color-scheme: light) {
    html {
        background-color: #dddddd00;
        color: #222831;
    }
    a {
        color: #1f6cb0;
    }
    a:visited {
        color: #f05454;
    }
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-size: 24px;
    font-family: sans-serif;
}

#content {
    padding: 16px;
}

label, button, footer, p, ul {
    display: block;
    text-align: center;
    font-size: 1rem;
}

h1 {
    display: block;
    text-align: center;
    font-size: 2rem;
    margin: 32px auto;
}

h2 {
    display: block;
    text-align: center;
    font-size: 1.9rem;
    margin: 16px auto;
}

h3 {
    display: block;
    text-align: start;
    font-size: 1rem;
    margin: 16px auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    align-content: space-evenly;
    gap: 8px;
}

footer {
    margin-top: 16px;
}

p, ul {
    text-align: justify;
    font-size: 0.8rem;
}

footer > a > p {
    text-align: center;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
}

@media (max-width: 900px) {
    label, button, footer, p, hr, ul {
        width: 100%;
    }

    h3 {
        width: 100%;
    }

    label {
        margin: 0 0 8px 0;
    }

    button {
        margin: 8px 0 8px 0;
    }
}

@media (min-width: 901px) {
    label, button, footer, p, hr, ul {
        width: 33vw;
        max-width: 900px;
        margin: 32px auto;
    }

    h3 {
        width: 33vw;
        max-width: 900px;
    }

    label {
        margin-bottom: 8px;
    }

    button {
        margin-top: 8px;
        margin-bottom: 8px;
    }
}
