<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Authentication Error - Contacts Calendar</title>
    <meta name="description" content="An error occurred while trying to authenticate with Google.">

    <!-- Favicon -->
    <link rel="icon" href="/assets/favicon/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/assets/favicon/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/assets/favicon/favicon-192.png" sizes="192x192">
    <link rel="apple-touch-icon" href="/assets/favicon/favicon-180.png" sizes="180x180">
</head>
<body>
<div id="content">
    <a href="/"><h1>Contacts Calendar</h1></a>

    <p>There was an error while trying to authenticate with Google.</p>
    <p>Error message: <code>{{errorMessage}}</code></p>
</div>
<footer>
    <nav>
        <ul>
            <li><a href="/privacy.html">Privacy Policy</a></li>
            <li><a href="/terms-of-service.html">Terms of Service</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
