<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Authentication Error - Contacts Calendar</title>
    <meta name="description" content="An error occurred while trying to authenticate with Google.">
</head>
<body>
<div id="content">
    <a href="/"><h1>Contacts Calendar</h1></a>

    <p>There was an error while trying to authenticate with Google.</p>
    <p>Error message: <code>{{errorMessage}}</code></p>
</div>
</body>
</html>
