<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Contacts Calendar</title>
    <meta name="description" content="A tool to get birthdays of your Google contacts in a calendar file.">
</head>
<body>
<div id="content">
    <h1>Contacts Calendar</h1>
    <a href="{{ GOOGLE_AUTH_URL }}"><button>Authenticate with Google</button></a>
</div>
<footer>
    <nav>
        <ul>
            <li><a href="/privacy.html">Privacy Policy</a></li>
        </ul>
    </nav>
</footer>
</body>
</html>
